@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
}


.swiper-pagination-bullet-active {
  background-color: red !important;
}

.swiper-pagination-bullet {
  background-color: pink !important;
}